<header>
    <nav>
      <ul class="navbar">
        <li><a href="/" class="nav-link">Accueil</a></li>
        <li><a href="/products/" class="nav-link">Produits</a></li>
        <li><a href="/cart/" class="nav-link">Mon Panier</a></li>
        <li><a href="/login/" class="nav-link">Connexion</a></li>
      </ul>
    </nav>
  </header>
  
  <script src="https://www.gstatic.com/firebasejs/9.0.0/firebase-app.js"></script>
  <script src="https://www.gstatic.com/firebasejs/9.0.0/firebase-auth.js"></script>
  <script src="/assets/js/auth.js"></script>
  